body {
    background-color: cornflowerblue

}

#container {
    border: 1px solid red;
    margin-left: 36em;
    margin-right: 45.115em;
    margin-top: 5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.square {
    display: inline-flex;
    justify-content: center;
    border:1px solid blue;
    padding: 1em;

}

#row1,
#row2,
#row3,
#row4,
#row5,
#row6,
#row7,
#row8,
#row9,
#row10,
#row11,
#row12,
#row13,
#row14,
#row15,
#row16 {
    display: flex;
    flex-direction: column;
    
}